NEXT_PUBLIC_SUPABASE_URL=https://vvyxzdtftjpudfnuypsd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2eXh6ZHRmdGpwdWRmbnV5cHNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5OTI4NDksImV4cCI6MjA5NjU2ODg0OX0.bWD_ZFcaY1HMW-aDEPpVkPrHxM79rH6-OQKobNwdhro
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2eXh6ZHRmdGpwdWRmbnV5cHNkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDk5Mjg0OSwiZXhwIjoyMDk2NTY4ODQ5fQ.X6PRYLTYbOt-rT4DeYcqGgeCTVsMM30au2v1uQ2gu44
GEOFENCE_MAX_DISTANCE=150
